#header {
  border: 1px solid;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 0 200px;
}

.menu {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.menu li {
  margin: 0 10px;
}

.bottom {
  height: 27.3vw;
  background: url(../images/header_bg.jpg);
  background-size: 100%;
}



#logo {
  background: url(../images/logo.png) center no-repeat;
  height: 100px;
  width: 100px;
  background-size: 80%;
}